<!DOCTYPE html>
<html lang="ru">
<head>

   @await Html.PartialAsync("MetaPart")

    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("CssPart") 

</head>
<body>

    <!-- PRE LOADER -->
    <div class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </div>


    <!-- HOME SECTION -->
    <section id="home" class="parallax-section">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-5 col-md-7 col-sm-12">
                    <div class="home-thumb">
                        <h1 class="wow fadeInUp" data-wow-delay="0.4s">Закажите себе дрона из нашего широкого выбора</h1>
                        <p class="wow fadeInUp white-color" data-wow-delay="0.6s"></p>
                        <a href="#service" class="wow fadeInUp smoothScroll btn btn-default section-btn" data-wow-delay="1s">Узнать больше</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- SERVICE SECTION -->
   @await Html.PartialAsync("MenuPart") 
    <!-- ABOUT SECTION -->
    
    <!-- WORK SECTION -->
    @RenderBody()


    <!-- FOOTER SECTION -->
    @await Html.PartialAsync("FooterPart")

    <!-- SCRIPTS -->
   @await Html.PartialAsync("ScriptPart")

</body>
</html>