<footer>
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.8s">
                <p class="white-color">
                    Copyright &copy; 2019 DronElectric
                    @await Html.PartialAsync("SoccPart")
            </div>
        </div>
    </div>
</footer>