<section id="service" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                <!-- SECTION TITLE -->
                <h2>Меню</h2>
                <p>Выберите подходящий раздел</p>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-thumb">
                    <i class="fa fa-smile-o"></i>
                    <a href="index.cshtml"><h4>Главная</h4></a>
                    <p></p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-thumb bg-grey">
                    <i class="fa fa-camera"></i>
                    <a href="Tov.cshtml"><h4 class="white-color">Товары</h4></a>
                        <p>Выберите подходящий дрон для себя</p>
</div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-thumb">
                    <i class="fa fa-lightbulb-o"></i>
                    <a href="Com.cshtml"><h4>О нас</h4></a>
                        <p>Узнайте больше о нашей компании</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-thumb">
                    <i class="fa fa-clone"></i>
                    <a href="Contac.cshtml"><h4>Контакты</h4></a>
                        <p>Закажите знвонок для индивидуальной консультации</p>
                </div>
            </div>

        </div>
    </div>
</section>

